.header_top_container {
    width: 100%;
    height: 49px;
    background-color: #1428A0;
    position: fixed;
    z-index: 5;
}

.header_top {
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 80px;
}

.header_top_category_box {
    display: flex;
    gap: 22px;
}

.header_category {
    text-decoration: none;
    color: #ffffff;
    font-family: 'SpoqaHanSansNeo';
    font-size: 13px;
    font-weight: 500;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.header_category:hover {
    opacity: 1;
}

.header_top_keyinfo {
    border: none;
    background: none;
    padding: 0;
}

.header_top_keyinfo>a {
    font-family: 'SpoqaHanSansNeo';
    font-size: 13px;
    font-weight: 900;
    text-decoration: none;
    color: #1428A0;
    background-color: #ffffff;
    padding: 4px 12px;
    border-radius: 20px;
}

.header_bottom_container {
    width: 100%;
    height: 76px;
    background-color: #ffffff;
    border: 1px solid #e5e5ec;
    position: fixed;
    top: 49px;
    z-index: 5;
}

.header_bottom {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.logo>a>svg {
    width: 192px;
    height: 36px;
}

.header_menu_box {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.header_menu {
    height: 100%;
    text-decoration: none;
    color: #111111;
    font-family: 'SpoqaHanSansNeo';
    font-size: 15px;
    font-weight: 700;
    position: relative;
}

.header_menu_line {
    display: none;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1428A0;
    bottom: -5px;
    animation: menuhover 0.3s linear;
}

@keyframes menuhover {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.header_menu:hover {
    color: #1428A0;
}

.header_menu:hover .header_menu_line {
    display: flex;
}

.header_menu:hover .under_lnb_container {
    opacity: 1;
}

.header_right_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.header_right_ref {
    font-family: 'SpoqaHanSansNeo';
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #111111;
    letter-spacing: -1px;
}

#language {
    font-family: 'SpoqaHanSansNeo';
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    color: #111111;
    border: none;
    outline: none;
    padding: 0 4px;
    cursor: pointer;
}

.header_right_magnify {
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    border-radius: 999px;
    border: 1px solid #e5e5ec;
    transition: all 0.3s ease;
}

.fa-magnifying-glass {
    color: #1428A0;
    transition: all 0.3s ease;
}

.header_right_magnify:hover {
    background-color: #1428A0;
    border: #1428A0;
}

.header_right_magnify:hover>a>.fa-magnifying-glass {
    color: #ffffff;
}

/* 헤더 끝!!!!!!!!!!!!!!!!!!!!!! */

.space_1 {
    width: 100%;
    height: 125px;
}

/* main 시작!!!!!!!!!!!!!!!!!!!!1 */

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.banner_container {
    padding: 0 80px;
    display: flex;
    gap: 16px;
}

.banner_left {
    width: 75%;
    position: relative;
}

.banner_left>video {
    width: 100%;
    border-radius: 8px;
}

.banner_left_shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #111111, transparent);
    bottom: 0;
    border-radius: 8px;
}

.banner_title_box {
    position: absolute;
    bottom: 0;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 2;
}

.banner_title_box>h2 {
    font-family: 'SpoqaHanSansNeo';
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -1.5px;
}

.banner_title_box>p {
    font-family: 'SpoqaHanSansNeo';
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: -1.5px;
}

.banner_title_box>a {
    display: flex;
    justify-content: center;
    width: 128px;
    font-family: 'SpoqaHanSansNeo';
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -1.5px;
    text-decoration: none;
    padding: 20px 24px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.banner_title_box>a:hover {
    color: #1428A0;
    background-color: #ffffff;
}

.banner_right {
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.banner_right>figure {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.banner_right_figure {
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    position: absolute;
    bottom: 0;
    border-radius: 8px;
    z-index: 1;
}

.banner_right>figure>img {
    transition: all 0.6s ease;
}

.banner_right>figure:hover img {
    transform: scale(1.08);
}

.banner_right_title_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 28px;
    box-sizing: border-box;
    z-index: 2;
}

.right_title_top {
    display: flex;
    justify-content: space-between;
}

.right_title_top>h4 {
    font-family: 'SpoqaHanSansNeo';
    font-size: 22px;
    font-weight: 800;
    color: #ffffff;
}

.right_title_top>p {
    font-family: 'SpoqaHanSansNeo';
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: rgba(17, 17, 17, 0.5);
    padding: 4px 12px;
    letter-spacing: 2.5px;
    border-radius: 16px;
}

.right_title_bottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.right_title_bottom>h3 {
    font-family: 'SpoqaHanSansNeo';
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.right_title_bottom>a {
    font-family: 'SpoqaHanSansNeo';
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

.faau1 {
    transform: rotate(90deg);
    transition: all 0.3s ease;
}

.right_title_bottom>a:hover .faau1 {
    transform: rotate(90deg) translateY(-4px);
}

.banner_right>figure>img {
    width: 100%;
    border-radius: 8px;
}

.banner_right_bottombox {
    width: 100%;
    height: 28.2%;
    background-color: #1C9C9E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    gap: 24px;
    padding: 0 28px;
    box-sizing: border-box;
}

.banner_right_value {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.banner_right_bottombox {
    font-size: 16px;
    font-weight: 500;
    font-family: 'SpoqaHanSansNeo';
}

.banner_strong {
    font-weight: 800;
}

.banner_right_value>h2 {
    font-size: 36px;
    font-weight: 600;
    font-family: 'SpoqaHanSansNeo';
}

/* 배너끝 !!!!!!! */

/* shrink시작~~~~~~~~~~ */

.business_container {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.every_title {
    font-family: 'SpoqaHanSansNeo';
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 32px;
}

.business_wrapper {
    max-width: 100%;
    height: auto;
    display: flex;
    gap: 16px;
}

.business_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 0;
    transition: all 0.3s ease;
}

.business_box:hover {
    flex: 2 1 0;
}

.business_box>figure {
    aspect-ratio: 2 / 3;
}

.business_box>figure>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* business container 잠시 보류 */

/* ESG ACTIVITY 시작!!!!!! */

.esg_container {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.esg_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.esg_top {
    height: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.esg_top>figure>img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.esg_top:hover figure>img {
    transform: scale(1.07);
}

.esg_top_title_box {
    position: absolute;
    bottom: 0;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    transform: translateY(40%);
    transition: all 0.3s ease;
    z-index: 2;
}

.esg_top_title_box>h2 {
    font-family: 'SpoqaHanSansNeo';
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
}

.esg_top_title_box>a {
    display: flex;
    justify-content: center;
    width: 128px;
    font-family: 'SpoqaHanSansNeo';
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -1.5px;
    text-decoration: none;
    padding: 20px 24px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease;
    opacity: 0;
}

.esg_top_title_box>a:hover {
    color: #1428A0;
    background-color: #ffffff;
}

.esg_top:hover .esg_top_title_box>a {
    opacity: 1;
}

.esg_top:hover .esg_top_title_box {
    transform: translate(0);
}

.esg_top_shadow {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #111111 0%, transparent 50%);
    position: absolute;
    z-index: 1;
    transition: all 0.3s ease;
}

/* 여기까지 top!!!! */

.esg_bottom {
    height: 50%;
    display: flex;
    gap: 16px;
}

.esg_bottom_left {
    width: 24.5%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.esg_bottom_left>figure>img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.esg_bottom_title_box1 {
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: absolute;
    bottom: 0;
    padding: 48px;
    transform: translateY(30%);
    transition: all 0.3s ease;
    z-index: 2;
}

.esg_bottom_title_box1>h2 {
    font-family: 'SpoqaHanSansNeo';
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
}

.esg_bottom_title_box1>p {
    font-family: 'SpoqaHanSansNeo';
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.esg_bottom_title_box1>a {
    display: flex;
    justify-content: center;
    width: 128px;
    font-family: 'SpoqaHanSansNeo';
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -1.5px;
    text-decoration: none;
    padding: 20px 24px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease;
    opacity: 0;
}

.esg_bottom_title_box1>a:hover {
    color: #1428A0;
    background-color: #ffffff;
}

.esg_bottom_left:hover figure>img {
    transform: scale(1.07);
    border-radius: 8px;
}

.esg_bottom_left:hover a {
    opacity: 1;
}

.esg_bottom_left:hover .esg_bottom_title_box1 {
    transform: translate(0);
}

.esg_bottom_left_shadow {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #111111 0%, transparent 50%);
    position: absolute;
    z-index: 1;
}

/* 여기까지 left!!!!!!!!!!!!! */

.esg_bottom_right {
    width: 75.5%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.esg_bottom_right>figure>img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.esg_bottom_right:hover figure>img {
    transform: scale(1.07);
}

.esg_bottom_title_box2 {
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: absolute;
    bottom: 0;
    padding: 48px;
    transform: translateY(30%);
    transition: all 0.3s ease;
    z-index: 2;
}

.esg_bottom_title_box2>h2 {
    font-family: 'SpoqaHanSansNeo';
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
}

.esg_bottom_title_box2>p {
    font-family: 'SpoqaHanSansNeo';
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.esg_bottom_title_box2>a {
    display: flex;
    justify-content: center;
    width: 128px;
    font-family: 'SpoqaHanSansNeo';
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -1.5px;
    text-decoration: none;
    padding: 20px 24px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease;
    opacity: 0;
}

.esg_bottom_title_box2>a:hover {
    color: #1428A0;
    background-color: #ffffff;
}

.esg_bottom_right:hover a {
    opacity: 1;
}

.esg_bottom_right:hover .esg_bottom_title_box2 {
    transform: translate(0);
}

.esg_bottom_right_shadow {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #111111 0%, transparent 50%);
    position: absolute;
    z-index: 1;
}

/* 여기까지 right끝!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* news room 시작!!!!!!!!!!11 */

.newsroom_container {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.newsroom_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 80px;
    background-image: url(./newsroom.png);
    box-sizing: border-box;
    aspect-ratio: 1920 / 780;
    overflow: hidden;
    border-radius: 8px;
}

.newsroom_top {
    display: flex;
    justify-content: space-between;
}

.newsroom_top_left {
    display: flex;
    gap: 12px;
}

.newsroom_top_left > a {
    padding: 24px;
    color: #ffffff;
    font-family: 'SpoqaHanSansNeo';
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.newsroom_top_left > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.newsroom_top_left > a:focus {
    background-color: #ffffff;
    color: #1428A0;
    font-weight: 800;
}

.newsroom_top_right {
    display: flex;
    gap: 12px;
}

.newsroom_top_right > button {
    padding: 24px 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.faun1 {
    color: #ffffff;
    transform: rotate(-90deg);
    transition: all 0.3s ease;
}

.faun2 {
    color: #ffffff;
    transform: rotate(90deg);
    transition: all 0.3s ease;
}

.newsroom_top_right > button:hover {
    background-color: #ffffff;
}

.newsroom_top_right > button:hover .faun1 {
    color: #1428A0;
}

.newsroom_top_right > button:hover .faun2 {
    color: #1428A0;
}

.newsroom_bottom {
    display: flex;
    gap: 60px;
}

.newsroom_img_box {
    border-radius: 8px;
    position: relative;
    z-index: 0;
}

.newsroom_img_box > figure > img {
    border-radius: 8px;
}

.newsroom_shadow {
    background: linear-gradient(to top, #111111 0%, transparent 50%);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
}

.newsroom_title_box {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
}

.newsroom_title_box > h3 {
    font-family: 'SpoqaHanSansNeo';
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.newsroom_title_box > h2 {
    font-family: 'SpoqaHanSansNeo';
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -1.5px;
}

.newsroom_title_box > p {
    font-family: 'SpoqaHanSansNeo';
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: -1.5px;
}

.newsroom_hover_box {
    display: none;
}

/* newsroom 끝~~~~~!!!!!!!!!!!!!!!!! */

/* network 시작!!!!!!!!!!! */

.network_container {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
}

.network_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 80px;
    background-image: url(./지구본.png);
    box-sizing: border-box;
    aspect-ratio: 1920 / 780;
    overflow: hidden;
    border-radius: 8px;
}

.network_box {
    width: 35%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.network_box > p {
    font-family: 'SpoqaHanSansNeo';
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: -1px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 24px;
}

.location_box {
    width: 100%;
    height: 13.365%;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    background-color: #1428A0;
    border-radius: 8px;
    box-sizing: border-box;
}

.location_box > button {
    border: none;
    background: none;
    font-family: 'SpoqaHanSansNeo';
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.location_box > button:hover {
    color: #ffffff;
}

.chain_box {
    width: 100%;
    display: flex;
    gap: 16px;
}

.chain1 {
    width: 50%;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
}

.chain2 {
    width: 50%;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
}

.chain1,.chain2 > p {
    font-family: 'SpoqaHanSansNeo';
    font-size: 24px;
    font-weight: 600;
    color: #111111;
}

.chain_number {
    font-family: 'SpoqaHanSansNeo';
    font-size: 50px;
    font-weight: 600;
    color: #1428a0;
    padding: 0;
}

.chain_else {
    color: #1428A0;
}

.network_box > a {
    width: 100%;
    height: 13.365%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #ffffff;
    text-decoration: none;
    font-family: 'SpoqaHanSansNeo';
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    transition: all 0.3s ease;
}

.network_box > a:hover {
    color:#1428A0;
    background-color: #ffffff;
}

.faau2 {
    transform: rotate(90deg);
    transition: all 0.3s ease;
}

.network_box > a:hover .faau2  {
    transform: rotate(90deg) translateY(-4px);
}

/* network 끝!!!!!!!!!!!!!!! */

/* investor 시작!!!!!!!1111 */

.investor_container {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    gap: 32px;
    margin-bottom: 80px;
}

.investor_wrapper {
    display: flex;
    gap: 16px;
    max-width: 100%;
    height: 100%;
}

.investor_box {
    width: 32.7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e5e5ec;
    border-radius: 8px;
    padding: 40px 50px;
    color: #111111;
    font-family: 'SpoqaHanSansNeo';
    font-size: 20px;
    font-weight: 700;
    transition: all 0.5s ease;
    cursor: pointer;
}

.investor_box:hover {
    color: #1428A0;
    border: 1px solid #1428A0;
}

/* investor 끝!!!!!!!!!!!!!!!!! */

/* footer시작!!!!!!!!!!!!! */

footer {
    aspect-ratio: 10 / 1;
    background-color: #111111;
}

.footer_wrapper {
    padding: 80px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer_left_top {
    display: flex;
    gap: 20px;
}

.footer_left_top>a {
    font-family: 'SpoqaHanSansNeo';
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

.footer1 {
    color: #299be5;
}

.footer_left_bottom {
    font-family: 'SpoqaHanSansNeo';
    font-size: 13px;
    font-weight: 500;
    color: rgba(136, 136, 136, 0.7);
    letter-spacing: -0.5px;
}

#Related_Sites {
    font-family: 'SpoqaHanSansNeo';
    font-size: 13px;
    font-weight: 500;
    color: #111111;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #ffffff;
    outline: none;
    padding: 8px 32px;
    cursor: pointer;
}