.header_top_container {
    width: 100%;
    height: 49px;
    background-color: #1428A0;
    position: fixed;
    z-index: 2;
}

.header_top {
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 80px;
}

.header_top_category_box {
    display: flex;
    gap: 22px;
}

.header_category {
    text-decoration: none;
    color: #ffffff;
    font-family: 'SpoqaHanSansNeo';
    font-size: 13px;
    font-weight: 500;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.header_category:hover {
    opacity: 1;
}

.header_top_keyinfo {
    border: none;
    background: none;
    padding: 0;
}

.header_top_keyinfo>a {
    font-family: 'SpoqaHanSansNeo';
    font-size: 13px;
    font-weight: 900;
    text-decoration: none;
    color: #1428A0;
    background-color: #ffffff;
    padding: 4px 12px;
    border-radius: 20px;
}

.header_bottom_container {
    width: 100%;
    height: 76px;
    background-color: #ffffff;
    border: 1px solid #e5e5ec;
    position: fixed;
    top: 49px;
    z-index: 2;
}

.header_bottom {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.logo>a>svg {
    width: 192px;
    height: 36px;
}

.header_menu_box {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.header_menu {
    height: 100%;
    text-decoration: none;
    color: #111111;
    font-family: 'SpoqaHanSansNeo';
    font-size: 15px;
    font-weight: 700;
    position: relative;
}

.header_menu_line {
    display: none;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1428A0;
    bottom: -5px;
    animation: menuhover 0.3s linear;
}

@keyframes menuhover {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.header_menu:hover {
    color: #1428A0;
}

.header_menu:hover .header_menu_line {
    display: flex;
}

.header_menu:hover .under_lnb_container {
    opacity: 1;
}

.header_right_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.header_right_ref {
    font-family: 'SpoqaHanSansNeo';
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #111111;
    letter-spacing: -1px;
}

#language {
    font-family: 'SpoqaHanSansNeo';
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    color: #111111;
    border: none;
    outline: none;
    padding: 0 4px;
    cursor: pointer;
}

.header_right_magnify {
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    border-radius: 999px;
    border: 1px solid #e5e5ec;
    transition: all 0.3s ease;
}

.fa-magnifying-glass {
    color: #1428A0;
    transition: all 0.3s ease;
}

.header_right_magnify:hover {
    background-color: #1428A0;
    border: #1428A0;
}

.header_right_magnify:hover>a>.fa-magnifying-glass {
    color: #ffffff;
}

/* 헤더 끝!!!!!!!!!!!!!!!!!!!!!! */

.space_1 {
    width: 100%;
    height: 125px;
}

/* main 시작!!!!!!!!!!!!!!!!!!!!1 */

.banner_container {
    padding: 0 80px;
    display: flex;
    gap: 16px;
}

.banner_left {
    width: 75%;
    position: relative;
}

.banner_left>video {
    width: 100%;
    border-radius: 8px;
}

.banner_left_shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #111111, transparent);
    bottom: 0;
    border-radius: 8px;
}

.banner_title_box {
    position: absolute;
    bottom: 0;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 2;
}

.banner_title_box>h2 {
    font-family: 'SpoqaHanSansNeo';
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -1.5px;
}

.banner_title_box>p {
    font-family: 'SpoqaHanSansNeo';
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: -1.5px;
}

.banner_title_box>a {
    display: flex;
    justify-content: center;
    width: 128px;
    font-family: 'SpoqaHanSansNeo';
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -1.5px;
    text-decoration: none;
    padding: 20px 24px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.banner_title_box>a:hover {
    color: #1428A0;
    background-color: #ffffff;
}

.banner_right {
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.banner_right>figure {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.banner_right_figure {
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    position: absolute;
    bottom: 0;
    border-radius: 8px;
    z-index: 1;
}

.banner_right>figure>img {
    transition: all 0.6s ease;
}

.banner_right>figure:hover img {
    transform: scale(1.08);
}

.banner_right_title_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 28px;
    box-sizing: border-box;
    z-index: 2;
}

.right_title_top {
    display: flex;
    justify-content: space-between;
}

.right_title_top>h4 {
    font-family: 'SpoqaHanSansNeo';
    font-size: 22px;
    font-weight: 800;
    color: #ffffff;
}

.right_title_top>p {
    font-family: 'SpoqaHanSansNeo';
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: rgba(17, 17, 17, 0.5);
    padding: 4px 12px;
    letter-spacing: 2.5px;
    border-radius: 16px;
}

.right_title_bottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.right_title_bottom > h3 {
    font-family: 'SpoqaHanSansNeo';
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.right_title_bottom > a {
    font-family: 'SpoqaHanSansNeo';
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

.faau1 {
    transform: rotate(90deg);
    transition: all 0.3s ease;
}

.right_title_bottom > a:hover .faau1 {
    transform: rotate(90deg) translateY(-4px);
}

.banner_right>figure>img {
    width: 100%;
    border-radius: 8px;
}

.banner_right_bottombox {
    width: 100%;
    height: 28.2%;
    background-color: #1C9C9E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    gap: 24px;
    padding: 0 28px;
    box-sizing: border-box;
}

.banner_right_value {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.banner_right_bottombox {
    font-size: 16px;
    font-weight: 500;
    font-family: 'SpoqaHanSansNeo';
}

.banner_strong {
    font-weight: 800;
}

.banner_right_value>h2 {
    font-size: 36px;
    font-weight: 600;
    font-family: 'SpoqaHanSansNeo';
}

/* 배너끝 !!!!!!! */

/* shrink시작~~~~~~~~~~ */

.business_container {
    padding: 0 80px;
    display: flex;
    gap: 16px;
}